<!DOCTYPE html>
<html>
  <head>
    <title>UNO</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="css/game.css">
    <script>
      const currentPlayer = "<%= user.name %>";
    </script>
  </head>
  <body>
    <div id="message-container"></div>

    <div id="dashboard-div" <% if (state != 'dashboard') { %> style="display: none;" <% } %>>
      <a href="/logout">Logout</a>

      <h1>Hello, <span id="user"><%= user.name.charAt(0).toUpperCase() + user.name.slice(1) %></span>!</h1>

      <button id="newLobbyBtn">Start New Game</button>

      <div>
        <input id="joinInput" placeholder="Enter Room Code">
        <button id="joinBtn">Join Room</button>
      </div>
    </div>
    
    <div id="lobby-div" <% if (state != 'lobby') { %> style="display: none;" <% } %>>
      <h1>Lobby</h1>

      <h2>Room Code: <span id="room-code"><%= roomCode %></span></h2>
      <button id="start-button" <% if (!user.isHost) { %> style="display: none;" <% } %>>Start Game</button>

      <h2>Players:</h2>
      <ul id="lobby-player-list">
        <% users.forEach(function(user){ %>
          <li>
            <img src="/img/person-outline.svg" alt="<%= user.name %> picture">
            <h3><%= user.name %></h3>
          </li>
        <% }); %>
      </ul>
    </div>

    <div id="game-div" <% if (state != 'game') { %> style="display: none;" <% } %>>
      <div id="player-list-holder">
        <ul id="player-list">
          <% users.forEach(function(user){ %>
            <li>
              <img src="/img/person-outline.svg" alt="<%= user.name %> picture">
              <h3><%= user.name %></h3>
              <p>Cards: <%= user.numCards %></p>
            </li>
          <% }); %>
        </ul>
      </div>
  
      <div id="piles">
        <div id="discard-pile">
          Red Four
        </div>
        <div id="draw-pile">
          <button id="draw-button" socket-id="<%= user.socketId%>">Draw Card</button>
        </div>
      </div>
      
      <div id="hand">
        <table id="hand-table">
          <tr>
            <% user.cards.forEach(function(card){ %>
              <td style="background-color: <%= card.color %>" onclick="getCardListener(`<%=card.type %>`, `<%=card.color%>`)">
                <%= card.color %> <%= card.type %>
              </td>
            <% }); %>
          </tr>
        </table>
      </div>
    </div>

    <script src="/js/game.js"></script>
  </body>
</html>